In [1]:
import findspark
findspark.init('C:\\Spark\\spark-2.4.7-bin-hadoop2.7')

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession \
        .builder \
        .appName("EDA") \
        .getOrCreate()

In [3]:
spark.sparkContext.setLogLevel("ERROR")

In [4]:
import pyspark.sql.functions as F
from pyspark.sql.types import StructType, StructField, StringType, FloatType, TimestampType, IntegerType, DoubleType, DateType

In [5]:
df_review = spark.read.format('csv') \
.option("inferSchema", "True") \
.option("header", "True") \
.option("sep", ",") \
.option('escape','"')\
.option("escape","\"")\
.option("multiLine", "true")\
.option("encoding", "ISO-8859-1") \
.load('../data/airbnb_paris_data/reviews.csv')

In [6]:
df_review.show()

+----------+---------+-------------------+-----------+-------------+--------------------+
|listing_id|       id|               date|reviewer_id|reviewer_name|            comments|
+----------+---------+-------------------+-----------+-------------+--------------------+
|      2577|366217274|2019-01-02 00:00:00|   28047930|         Kate|Beautiful apartme...|
|      3109|123127969|2016-12-27 00:00:00|   12389804|       Sophie|The host canceled...|
|      3109|123274144|2016-12-28 00:00:00|   67553494|        Tom'S|The host canceled...|
|      3109|207127433|2017-10-28 00:00:00|   51636494|     Patricia|Tout s'est bien d...|
|      3109|208779822|2017-11-03 00:00:00|    4142888|     Patricia|Un petit nid foui...|
|      3109|234257457|2018-02-12 00:00:00|    3539452|    Dominique|The host canceled...|
|      3109|295840159|2018-07-24 00:00:00|    7415343|      Laurent|Appartement spaci...|
|      3109|297207211|2018-07-27 00:00:00|  202957965|     Eleonora|The host canceled...|
|      3109|360052439|2018-12-19 00:00:00|   13723090|         Marc|The host canceled...|
|      3109|553502638|2019-10-24 00:00:00|   21159216|    Anastasia|Appartement total...|
|      4890|   738280|2011-11-22 00:00:00|    1372597|        Piers|I absolutely reco...|
|      4890|  2940227|2012-11-22 00:00:00|    3642989|      William|We have just retu...|
|      4890|  3330627|2013-01-12 00:00:00|    3690531|        Jason|A great location ...|
|      4890|  3520533|2013-02-11 00:00:00|    4320095|        Chris|Our recent stay i...|
|      4890|  3624081|2013-02-26 00:00:00|    4864955|      Patrick|great compact apa...|
|      4890| 23422607|2014-12-01 00:00:00|    7207328|      Jessica|All we can say is...|
|      4890| 26125759|2015-02-04 00:00:00|   21885191|       Alyson|Was impressed fro...|
|      4890| 27963409|2015-03-15 00:00:00|    2900975|     Hermione|Brilliant, we met...|
|      4890| 28600088|2015-03-27 00:00:00|   26256218|        Marie|Really cute apart...|
|      4890| 46587218|2015-09-12 00:00:00|   22896610|          Kim|We had a wonderfu...|
+----------+---------+-------------------+-----------+-------------+--------------------+
only showing top 20 rows

In [8]:
avg_length_of_stay_paris = 5.2
review_rate_modest = 0.5

In [10]:
df_review = df_review.groupBy("listing_id","date")\
                .count()\
                .withColumnRenamed("count", "review_day")\
                .withColumn('occupancy', F.round(avg_length_of_stay_paris *(F.col('review_day')/review_rate_modest),2))\
                .filter(F.col('date')>= "2016-01-01")

In [11]:
df_review.show()

+----------+-------------------+----------+---------+
|listing_id|               date|review_day|occupancy|
+----------+-------------------+----------+---------+
|      7397|2017-08-24 00:00:00|         1|     10.4|
|     27288|2016-02-24 00:00:00|         1|     10.4|
|     33993|2018-03-12 00:00:00|         1|     10.4|
|     38871|2017-12-06 00:00:00|         1|     10.4|
|     55348|2019-08-04 00:00:00|         1|     10.4|
|     59182|2017-02-28 00:00:00|         1|     10.4|
|     81106|2018-11-28 00:00:00|         1|     10.4|
|     86053|2018-01-05 00:00:00|         1|     10.4|
|    111270|2019-12-24 00:00:00|         1|     10.4|
|    120494|2016-01-24 00:00:00|         1|     10.4|
|    137112|2016-04-15 00:00:00|         1|     10.4|
|    166353|2018-07-04 00:00:00|         1|     10.4|
|    166370|2018-08-23 00:00:00|         1|     10.4|
|    180348|2017-01-10 00:00:00|         1|     10.4|
|    182744|2018-11-05 00:00:00|         1|     10.4|
|    215756|2018-10-25 00:00:00|         1|     10.4|
|    215763|2019-11-25 00:00:00|         1|     10.4|
|    220063|2018-05-21 00:00:00|         1|     10.4|
|    221754|2018-12-19 00:00:00|         1|     10.4|
|    225747|2018-06-16 00:00:00|         1|     10.4|
+----------+-------------------+----------+---------+
only showing top 20 rows

In [12]:
df_listing = spark.read.format('csv') \
.option("inferSchema", "True") \
.option("header", "True") \
.option("sep", ",") \
.option('escape','"')\
.option("escape","\"")\
.option("multiLine", "true")\
.option("encoding", "ISO-8859-1") \
.load('../data/airbnb_paris_data/listings.csv')

In [13]:
host_table_temp = df_listing.select(['id','host_id','host_name','host_location','host_since',
                                'host_response_time','host_response_rate',
                                'host_is_superhost','host_acceptance_rate'])\
                                .dropDuplicates()

In [14]:
host_table = host_table_temp.drop('id')\
                                .dropDuplicates()

In [15]:
host_table.show()

+---------+--------------+--------------------+-------------------+------------------+------------------+-----------------+--------------------+
|  host_id|     host_name|       host_location|         host_since|host_response_time|host_response_rate|host_is_superhost|host_acceptance_rate|
+---------+--------------+--------------------+-------------------+------------------+------------------+-----------------+--------------------+
| 53469395| Miguel Ã�ngel|Majadahonda, Comu...|2016-01-05 00:00:00|               N/A|               N/A|                f|                 N/A|
| 31304304|        Badara|Miami Beach, Flor...|2015-04-15 00:00:00|               N/A|               N/A|                f|                 N/A|
| 35549967|      Penelope|Paris, ÃŽle-de-Fr...|2015-06-11 00:00:00|               N/A|               N/A|                f|                 N/A|
|300007169|          LÃ©a|Paris, ÃŽle-de-Fr...|2019-10-04 00:00:00|               N/A|               N/A|                f|                100%|
|341017613|      Stephane|Paris, ÃŽle-de-Fr...|2020-03-09 00:00:00|    within an hour|              100%|                f|                100%|
| 42087754|      Laurence|Briare, Centre, F...|2015-08-21 00:00:00|               N/A|               N/A|                f|                100%|
| 55011736|       Yannick|Paris, ÃŽle-de-Fr...|2016-01-17 00:00:00|               N/A|               N/A|                f|                 N/A|
|130418108|  Jean-Gabriel|Paris, ÃŽle-de-Fr...|2017-05-15 00:00:00|               N/A|               N/A|                f|                 N/A|
|354282270|     AurÃ©lien|Paris, ÃŽle-de-Fr...|2020-07-07 00:00:00|    within an hour|              100%|                f|                100%|
| 13749892|Olga & Mathieu|Paris, ÃŽle-de-Fr...|2014-03-31 00:00:00|               N/A|               N/A|                f|                 N/A|
|369338974|      Caroline|                  FR|2020-09-26 00:00:00|a few days or more|               17%|                f|                 50%|
| 35424151|          Eric|Paris, ÃŽle-de-Fr...|2015-06-09 00:00:00|      within a day|               50%|                f|                100%|
|  7604411|      MÃ©lissa|Grenoble, Rhone-A...|2013-07-20 00:00:00|               N/A|               N/A|                f|                 N/A|
| 34587034|        Xavier|Paris, ÃŽle-de-Fr...|2015-05-30 00:00:00|               N/A|               N/A|                f|                 N/A|
|330121020|          Loic|                  FR|2020-01-23 00:00:00|               N/A|               N/A|                f|                100%|
| 44138265|        Myriam|Paris, ÃŽle-de-Fr...|2015-09-14 00:00:00|               N/A|               N/A|                t|                 94%|
|230516134|      OphÃ©lie|Saint-Germain-du-...|2018-12-13 00:00:00|      within a day|               50%|                f|                 40%|
|370096085|        Arnaud|                  FR|2020-10-01 00:00:00|    within an hour|               90%|                f|                100%|
| 78626460|          Aude|Paris, ÃŽle-de-Fr...|2016-06-19 00:00:00|               N/A|               N/A|                f|                 N/A|
| 23213622|        Sylvie|Paris, ÃŽle-de-Fr...|2014-11-01 00:00:00|               N/A|               N/A|                f|                 N/A|
+---------+--------------+--------------------+-------------------+------------------+------------------+-----------------+--------------------+
only showing top 20 rows

In [16]:
listing_table = df_listing.select(['id','name', 'description',  'price', 'neighbourhood_group_cleansed', 
                          'latitude', 'longitude', 'property_type', 'accommodates', 
                          'bathrooms', 'bedrooms', 'beds'])\
                        .dropDuplicates()\
                        .withColumnRenamed("id", "id_listing")

In [17]:
listing_table.show()

+----------+--------------------+--------------------+-------+----------------------------+--------+---------+--------------------+------------+---------+--------+----+
|id_listing|                name|         description|  price|neighbourhood_group_cleansed|latitude|longitude|       property_type|accommodates|bathrooms|bedrooms|beds|
+----------+--------------------+--------------------+-------+----------------------------+--------+---------+--------------------+------------+---------+--------+----+
|    462721|COSY FAMILY APT M...|<b>The space</b><...|$180.00|                        null|48.84292|  2.29436|    Entire apartment|           4|     null|       3|   3|
|    675626|Nice 45m2 Paris -...|Appartement de 45...| $65.00|                        null|48.87902|  2.37342|    Entire apartment|           4|     null|       1|   2|
|    899349|Terrasse Facing E...|<b>The space</b><...|$150.00|                        null|48.85902|  2.30323|    Entire apartment|           2|     null|       1|   1|
|   2032337|Charming 3 bedroo...|This spacious (13...|$280.00|                        null|48.87857|   2.3343|    Entire apartment|           6|     null|       3|   4|
|   2183282|Stylish Studio Ar...|A very modern and...|$100.00|                        null| 48.8605|  2.36768|    Entire apartment|           2|     null|    null|   1|
|   4574515|Studio Gds Boulev...|Close to Opera an...| $30.00|                        null|48.87331|  2.34194|    Entire apartment|           1|     null|    null|   1|
|   4823428|Design flat-View ...|Cosy large flat (...|$196.00|                        null|48.87251|  2.36498|    Entire apartment|           6|     null|       4|   3|
|   4876381|Nice room in a gr...|Dear travellers,<...| $45.00|                        null|48.87695|    2.342|Private room in a...|           2|     null|       1|   1|
|   6751028|RÃ©sidence Saint ...|Chambre privÃ©e d...| $96.00|                        null|48.83646|  2.34752|Private room in a...|           2|     null|       1|   1|
|   6775237|Duplex dans une b...|Beautiful duplex ...| $75.00|                        null|48.84886|  2.39576|    Entire apartment|           6|     null|       3|   5|
|   6817366|Room in a flat ne...|I put my room at ...| $45.00|                        null|48.86963|  2.37012|Private room in a...|           2|     null|       1|   1|
|   6849340|Quiet room 5mn wa...|You will be welco...| $90.00|                        null|48.85318|  2.29312|Private room in a...|           2|     null|       1|   2|
|   6930909|Private room- App...|I offer one bedro...| $40.00|                        null|48.86643|  2.40513|Private room in a...|           2|     null|       1|   1|
|   7127302|3 Rooms Apartment...|Really bright app...|$145.00|                        null|48.84059|  2.30007|    Entire apartment|           6|     null|       2|   3|
|   7307039|Amazing staying i...|Welcome to the ve...|$127.00|                        null|48.85333|  2.34225|    Entire apartment|           2|     null|       2|   1|
|   7324170|grand loft calme ...|110m2, un trÃ¨s g...|$135.00|                        null|48.87394|  2.39644|    Entire apartment|           6|     null|       4|   4|
|   7448131|Chambre privÃ©e p...|SituÃ©e dans le n...| $35.00|                        null|48.89169|  2.36306|Private room in a...|           2|     null|       1|   1|
|   7540971|Location Studio 1...|Quartier vivant, ...| $30.00|                        null| 48.8353|   2.2966|    Entire apartment|           2|     null|    null|   2|
|   8266814|  Cosy flat in Paris|Charmant appartem...| $90.00|                        null|48.85134|  2.38116|    Entire apartment|           4|     null|       1|   1|
|   8313266|Marais Beaubourg ...|Studio 20m2 loft ...| $65.00|                        null|48.86406|  2.35366|    Entire apartment|           2|     null|    null|   1|
+----------+--------------------+--------------------+-------+----------------------------+--------+---------+--------------------+------------+---------+--------+----+
only showing top 20 rows

In [18]:
listing_temp= listing_table.select(['id_listing','price'])\
                            .withColumn("price", F.expr("substring(price,2,length(price)-1)"))\
                            .withColumn("price", F.col("price").cast(DoubleType()))

In [19]:
fact_revenue_table = df_review.join(listing_temp, (df_review.listing_id == listing_temp.id_listing))\
                            .join(host_table_temp, (df_review.listing_id == host_table_temp.id))\
                            .drop('id_listing')\
                            .drop('id')\
                            .withColumn('income_est', F.round(F.col('occupancy') *F.col('price'),2))\
                            .select(['date','listing_id', 'host_id','occupancy','income_est'])\
                            .withColumn('year', F.year('date')) \
                            .withColumn('month', F.month('date')) \
                            .withColumn('day', F.dayofmonth('date'))

In [20]:
fact_revenue_table.show()

+-------------------+----------+-------+---------+----------+----+-----+---+
|               date|listing_id|host_id|occupancy|income_est|year|month|day|
+-------------------+----------+-------+---------+----------+----+-----+---+
|2016-02-24 00:00:00|     27288|  77087|     10.4|    1300.0|2016|    2| 24|
|2017-02-28 00:00:00|     59182| 193906|     10.4|     592.8|2017|    2| 28|
|2018-08-14 00:00:00|    230112|1202318|     10.4|     728.0|2018|    8| 14|
|2017-12-31 00:00:00|    509357|2510200|     10.4|     728.0|2017|   12| 31|
|2016-01-03 00:00:00|    514402|2533682|     10.4|    1040.0|2016|    1|  3|
|2016-07-21 00:00:00|    552628|2715603|     10.4|     832.0|2016|    7| 21|
|2016-07-09 00:00:00|    605410|2998362|     10.4|    1040.0|2016|    7|  9|
|2017-07-26 00:00:00|    621314|2845167|     10.4|     416.0|2017|    7| 26|
|2019-06-05 00:00:00|    655276|3298295|     10.4|    1300.0|2019|    6|  5|
|2016-08-06 00:00:00|    686977|2798100|     10.4|    1664.0|2016|    8|  6|
|2017-10-08 00:00:00|    705796|3626233|     10.4|    1352.0|2017|   10|  8|
|2017-01-11 00:00:00|    730617|1602690|     10.4|    2080.0|2017|    1| 11|
|2017-10-20 00:00:00|    847662|2627161|     10.4|     540.8|2017|   10| 20|
|2018-04-03 00:00:00|    860095|4504279|     10.4|    2600.0|2018|    4|  3|
|2019-05-01 00:00:00|    875029|4155011|     10.4|    4160.0|2019|    5|  1|
|2016-07-13 00:00:00|    961308|2107478|     10.4|     873.6|2016|    7| 13|
|2019-05-23 00:00:00|   1097289|6030167|     10.4|     759.2|2019|    5| 23|
|2019-11-12 00:00:00|   1147882|4659319|     10.4|     707.2|2019|   11| 12|
|2018-03-08 00:00:00|   1167117|6390142|     10.4|     426.4|2018|    3|  8|
|2020-01-20 00:00:00|   1167478|6393327|     10.4|    1352.0|2020|    1| 20|
+-------------------+----------+-------+---------+----------+----+-----+---+
only showing top 20 rows

In [21]:
time_table = fact_revenue_table.select(['date', 'year' , 'month', 'day']) \
                .withColumn('weekday', F.dayofweek('date'))\
                .dropDuplicates()

In [22]:
time_table.show()

+-------------------+----+-----+---+-------+
|               date|year|month|day|weekday|
+-------------------+----+-----+---+-------+
|2017-09-24 00:00:00|2017|    9| 24|      1|
|2019-06-24 00:00:00|2019|    6| 24|      2|
|2019-08-30 00:00:00|2019|    8| 30|      6|
|2018-08-10 00:00:00|2018|    8| 10|      6|
|2016-08-27 00:00:00|2016|    8| 27|      7|
|2019-02-16 00:00:00|2019|    2| 16|      7|
|2017-04-05 00:00:00|2017|    4|  5|      4|
|2016-05-20 00:00:00|2016|    5| 20|      6|
|2016-04-01 00:00:00|2016|    4|  1|      6|
|2017-08-22 00:00:00|2017|    8| 22|      3|
|2019-01-22 00:00:00|2019|    1| 22|      3|
|2019-08-19 00:00:00|2019|    8| 19|      2|
|2018-10-11 00:00:00|2018|   10| 11|      5|
|2017-02-13 00:00:00|2017|    2| 13|      2|
|2020-10-31 00:00:00|2020|   10| 31|      7|
|2017-10-09 00:00:00|2017|   10|  9|      2|
|2016-12-26 00:00:00|2016|   12| 26|      2|
|2019-07-11 00:00:00|2019|    7| 11|      5|
|2020-02-16 00:00:00|2020|    2| 16|      1|
|2016-10-30 00:00:00|2016|   10| 30|      1|
+-------------------+----+-----+---+-------+
only showing top 20 rows

In [26]:
time_table.write.parquet(os.path.join('../../output_tables', 'date_table'), 'overwrite')